## import pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Load the k13 data in into a pandas dataframe

In [2]:
k13 = pd.read_excel('data/k13 surveyor data 02.xls')

In [3]:
## Show just the header and the top three rows
k13.head(3)

,study id,site,mutation,present,tested,country,continent,lon,lat,year,title,authors,pubMedId,val,estLoc
0,PSHHG,Chin State,wildtype,60,62,Myanmar,Asia,92.848000,21.300000,2014,Spread of artemisinin-resistant Plasmodium fa...,"Tun KM, Imwong M, Lwin KM, Win AA, Hlaing TM, ...",25704894,False,0
1,PSHHG,Chin State,P574L,2,62,Myanmar,Asia,92.848000,21.300000,2014,Spread of artemisinin-resistant Plasmodium fa...,"Tun KM, Imwong M, Lwin KM, Win AA, Hlaing TM, ...",25704894,True,0
2,PSHHG,Kachin State,wildtype,19,30,Myanmar,Asia,97.391632,25.371031,2013,Spread of artemisinin-resistant Plasmodium fa...,"Tun KM, Imwong M, Lwin KM, Win AA, Hlaing TM, ...",25704894,False,0

In [4]:
print "There are", len(k13), "rows"

There are 1038 rows

In [5]:
print "The complete list of countries is: \n\n", ', '.join(k13['country'].unique().tolist())

The complete list of countries is:

Myanmar, Bangladesh, Thailand, Lao People's Democratic Republic, Viet Nam, Nigeria, India, Democratic Republic of the Congo, Cambodia, Kenya, Mali, Gambia, Ghana, Burkina Faso, Uganda, Malawi, Tanzania, Côte d'Ivoire, Gabon, Senegal, Angola, China, Ethiopia, Guyana, Comoros, Eritrea, Equatorial Guinea, Afghanistan, Benin, Guinea, Guinea-Bissau, Liberia, Mauritania, Niger, Sierra Leone, Cameroon, Togo, Chad, Congo, Burundi, Rwanda, Sudan, Somalia, South Sudan, Mozambique, South Africa, Zambia, Zimbabwe, Madagascar, Iran, Nepal, Indonesia, Philippines, Papua New Guinea, Solomon Islands, Colombia, Ecuador, Venezuela, French Guiana, Peru

### Seperate Myanmar, Thailand, Cambodia, Laos and Vietnam

In [6]:
k13_countries = k13[
    (k13.country == 'Myanmar') 
    | (k13.country == 'Thailand') 
    | (k13.country == 'Cambodia') 
    | (k13.country == "Lao People's Democratic Republic") 
    | (k13.country == 'Viet Nam')
].copy()

In [7]:
print "There are now", len(k13_countries), "rows"

There are now 608 rows

In [8]:
print "The list of countries is now: \n\n", ", ".join(k13_countries['country'].unique().tolist())

The list of countries is now:

Myanmar, Thailand, Lao People's Democratic Republic, Viet Nam, Cambodia

### Get only the true values

Remove any row where val = False

In [9]:
k13_countries_val = k13_countries[ k13_countries['val'] == True ].copy()

In [10]:
print "There are now", len(k13_countries_val), "rows"

There are now 337 rows

### Include only the validated mutations

Remove any rows where the mutation is not N458Y, R539T, I543T or C580Y

From [WHO pdf](http://apps.who.int/iris/bitstream/handle/10665/255213/WHO-HTM-GMP-2017.9-eng.pdf)

| K13 MUTATION 	| CLASSIFICATION	|
|---------------|-------------------|
| E252Q 		| Not associated	|
| P441L 		| Candidate			|
| F446I 		| Candidate			|
| G449A 		| Candidate			|
| N458Y 		| **Validated**		|
| Y493H 		| **Validated**		|
| G538V 		| Candidate			|
| R539T 		| **Validated**		|
| I543T 		| **Validated**		|
| P553L 		| Candidate			|
| R561H 		| Candidate			|
| V568G 		| Candidate			|
| P574L 		| Candidate			|
| A578S 		| Not associated	|
| C580Y 		| **Validated**		|
| A675V 		| Candidate			|

In [11]:
listOfMutations = k13_countries_val.mutation.unique().tolist()
listOfMutations.sort()

print "The complete list of mutations is: \n", ", \n".join(listOfMutations)

The complete list of mutations is:
A481V,
A675V,
C580C/Y,
C580Y,
D584V,
E252Q,
F446I,
F614L,
G449A/D,
G538V,
H719N,
I543T,
M476I,
N458Y,
N525D,
N537I,
P441L,
P553L,
P574L,
R539R/T,
R539T,
R561H/C,
V568G

Note: Y493H and A578S are not present in the list of mutations

In [12]:
## Create a function to classify the mutations
def classifyMutation (mutation) :
    if mutation == "E252Q" :
        return "Not associated"
    if mutation == "P441L" :
        return "Candidate"
    if mutation == "F446I" :
        return "Candidate"
    if mutation == "G449A/D" :
        return "Candidate"
    if mutation == "N458Y" :
        return "Validated"
    if mutation == "G538V" :
        return "Candidate"
    if mutation == "R539T" :
        return "Validated"
    if mutation == "R539R/T" :
        return "Validated"
    if mutation == "I543T" :
        return "Validated"
    if mutation == "P553L" :
        return "Candidate"
    if mutation == "R561H/C" :
        return "Candidate"
    if mutation == "V568G" :
        return "Candidate"
    if mutation == "P574L" :
        return "Candidate"
    if mutation == "C580Y" :
        return "Validated"
    if mutation == "C580C/Y" :
        return "Validated"
    if mutation == "A675V" :
        return "Candidate"
    return "Not associated"

In [13]:
## Add a new column with the classification
k13_countries_val.loc[:,"classification"] = k13_countries_val.loc[:,"mutation"].apply(classifyMutation)

In [16]:
## Keep only the validated AND candidate mutations
k13_countries_val_mutations = k13_countries_val[ k13_countries_val.classification != "Not associated" ]

In [31]:
filteredMutations = k13_countries_val_mutations.mutation.unique().tolist()
filteredMutations.sort()
mutations_df = pd.DataFrame({"mutation":filteredMutations})
mutations_df["classification"] = mutations_df["mutation"].apply(classifyMutation)

print "The list of mutations is now: \n"
mutations_df

The list of mutations is now:

   mutation classification
0     A675V      Candidate
1   C580C/Y      Validated
2     C580Y      Validated
3     F446I      Candidate
4   G449A/D      Candidate
5     G538V      Candidate
6     I543T      Validated
7     N458Y      Validated
8     P441L      Candidate
9     P553L      Candidate
10    P574L      Candidate
11  R539R/T      Validated
12    R539T      Validated
13  R561H/C      Candidate
14    V568G      Candidate

In [18]:
print "There are now", len(k13_countries_val_mutations), "rows"

There are now 291 rows

### Exclude sample size less than 20

In [14]:
## Keep only the rows where tested >= 20
k13_countries_val_mutations_size = k13_countries_val_mutations[
    k13_countries_val_mutations.tested >= 20 
]

In [15]:
print "There are now", len(k13_countries_val_mutations_size), "rows"

There are now 129 rows

In [16]:
## Confirm that the minimum tested size is greater than or equal to 20
k13_countries_val_mutations_size.tested.describe()

count    129.000000
mean      93.767442
std      129.669743
min       27.000000
25%       42.000000
50%       62.000000
75%      100.000000
max      882.000000
Name: tested, dtype: float64

### Exclue prevalence less than 5%

Prevalence is present / tested

In [17]:
k13_countries_val_mutations_size_prevalence = k13_countries_val_mutations_size[
    (k13_countries_val_mutations_size.present / k13_countries_val_mutations_size.tested) >= 0.05
]

In [18]:
print "There are now", len(k13_countries_val_mutations_size_prevalence), "rows"

There are now 80 rows

In [19]:
## Check that the minimum prevalence is greater or equal to 5%
k13_prevalence = (k13_countries_val_mutations_size_prevalence.loc[:,"present"] / k13_countries_val_mutations_size_prevalence.loc[:,"tested"])* 100

In [20]:
k13_prevalence.describe()

count    80.000000
mean     27.583031
std      24.300991
min       5.000000
25%       8.100666
50%      15.737457
75%      42.506460
max      88.095238
dtype: float64

## Load the partner drug data into a pandas dataframe

In [21]:
partner = pd.read_excel('data/ACT_Partner_Drug data 03.xls')

In [22]:
## Show just the header and the top three rows
partner.head(3)

,study Id,site number,country,site,lon,lat,study start,study end,marker type,tested,...,author,publication year,publication URL,title,notes,pubmed Id,drug,marker group,percentage,included or excluded
0,19889891,4,Viet nam,Binh Phuoc,106.723,11.75,2006,2006,pfcrt 76K/T,38,...,Isozumi R,2010.0,http://www.pubmedcentral.nih.gov/articlerender...,NaN,19889891.0,Longitudinal survey of Plasmodium falciparum i...,Lumefantrine,pfcrt 76K/T,13.0,NaN
1,19889891,2,Viet nam,Binh Phuoc,106.723,11.75,2002,2002,pfcrt 76K/T,100,...,Isozumi R,2010.0,http://www.pubmedcentral.nih.gov/articlerender...,NaN,19889891.0,Longitudinal survey of Plasmodium falciparum i...,Lumefantrine,pfcrt 76K/T,13.0,NaN
2,19889891,5,Viet nam,Binh Phuoc,106.723,11.75,2007,2007,pfcrt 76K/T,16,...,Isozumi R,2010.0,http://www.pubmedcentral.nih.gov/articlerender...,NaN,19889891.0,Longitudinal survey of Plasmodium falciparum i...,Lumefantrine,pfcrt 76K/T,13.0,NaN

In [23]:
print "There are", len(partner), "rows"

There are 1399 rows

In [24]:
print "The columns names are: \n\n", ", ".join(partner.columns.values.tolist())

The columns names are:

study Id, site number, country, site, lon, lat, study start, study end, marker type, tested, present, Mixed present, author, publication year, publication URL, title, notes, pubmed Id, drug, marker group, percentage, included or excluded

### Exclude percentage 0%

In [25]:
partner_percentage = partner[ partner.percentage > 0 ]

In [26]:
print "There are now", len(partner_percentage), "rows"

There are now 910 rows

In [27]:
## Check that the minimum value is greater than 0
partner_percentage.percentage.describe()

count    910.000000
mean      55.265934
std       40.155195
min        1.000000
25%       13.000000
50%       50.000000
75%      100.000000
max      175.000000
Name: percentage, dtype: float64

### Include only Pfmdr and Pfpm copy number >1 (this would include =2, =3, etc)

In [28]:
print "The complete list of marke groups is: \n\n", ", ".join(partner_percentage["marker group"].unique().tolist())

The complete list of marke groups is:

pfcrt 76K/T, pfcrt 72-76 CxxxK, pfcrt K76, pfmdr1 184F, pfmdr1 184Y/F, pfmdr1 86N/Y, pfmdr1 copy number >1, pfpm2 copy number >1, pfmdr1 D1246, pfmdr1 N1042, pfmdr1 N86, pfmdr1 NFD, pfmdr1 S1034, pfcrt 76T, pfcrt 72-76 CxxxT, pfcrt 72-76 SxxxT, pfmdr1 1246Y, pfmdr1 86Y, pfmdr1 Y184, pfpm2 copy number=1

In [29]:
## Only include 'pfmdr1 copy number >1' and 'pfpm2 copy number >1'
partner_percentage_marker_group = partner_percentage[
    (partner_percentage["marker group"] == 'pfmdr1 copy number >1')
    | (partner_percentage["marker group"] == 'pfpm2 copy number >1')
]

In [30]:
print "Now the list of marker groups is: \n\n", ", ".join(partner_percentage_marker_group["marker group"].unique().tolist())

Now the list of marker groups is:

pfmdr1 copy number >1, pfpm2 copy number >1

In [31]:
print "There are now", len(partner_percentage_marker_group), "rows"

There are now 327 rows

### Exclude sample size less than 20

In [32]:
## Keep only the rows where tested >= 20
partner_percentage_marker_group_size = partner_percentage_marker_group[
    partner_percentage_marker_group.tested >= 20 
]

In [33]:
print "There are now", len(partner_percentage_marker_group_size), "rows"

There are now 258 rows

In [34]:
## Check that the minimun number is greater than or equal to 20
partner_percentage_marker_group_size.tested.describe()

count    258.000000
mean      86.461240
std       93.998967
min       20.000000
25%       36.000000
50%       60.000000
75%      102.000000
max      712.000000
Name: tested, dtype: float64

### Exclue prevalence less than 5%

Prevalence is present / tested

In [35]:
partner_percentage_marker_group_size_prevalence = partner_percentage_marker_group_size[
    (partner_percentage_marker_group_size.present / partner_percentage_marker_group_size.tested) >= 0.05
]

In [36]:
print "There are now", len(partner_percentage_marker_group_size_prevalence), "rows"

There are now 172 rows

In [37]:
## Check that the minimum prevalence is greater or equal to 5%
partner_prevalence = (partner_percentage_marker_group_size_prevalence.loc[:,"present"] / partner_percentage_marker_group_size_prevalence.loc[:,"tested"])* 100

In [38]:
partner_prevalence.describe()

count    172.000000
mean      21.391437
std       15.516442
min        5.000000
25%        8.905391
50%       16.552511
75%       29.605993
max       70.000000
dtype: float64

## Join the two datasets together

In [39]:
## Create a new data frame from the k13 table with just the lon, lat and year columns
## add a new column call resistance_type
k13_edit = k13_countries_val_mutations_size_prevalence[["lon","lat","year"]].assign(resistance_type="k13")

In [40]:
# Print just the headers and the first three rows
k13_edit.head(3)

          lon        lat  year resistance_type
27  98.121568  16.040823  2013             k13
38  98.121568  16.040823  2014             k13
72  98.711517  16.297060  2013             k13

In [41]:
## Check if we have any empty cells
print "Does the table have any empty cells? \n", k13_edit.isnull().values.any()

Does the table have any empty cells?
False

In [42]:
print "There are", len(k13_edit), "rows"

There are 80 rows

In [43]:
## Create a new data frame from the partner table with just the lon, lat and year columns
## add a new column call resistance_type
partner_edit = partner_percentage_marker_group_size_prevalence[["lon","lat","publication year"]].assign(resistance_type="partner")

In [44]:
## Rename the 'publication year' column as 'year' to match the k13 table
partner_edit.rename(index=str, columns={"publication year": "year"}, inplace=True)

In [45]:
## Print just the headers and the first three rows
partner_edit.head(3)

         lon      lat    year resistance_type
131  102.668  12.9093  2009.0         partner
132  102.668  12.9093  2013.0         partner
133  102.668  12.9093  2013.0         partner

In [46]:
## Check if we have any empty cells
print "Does the table have any empty cells? \n", partner_edit.isnull().values.any()

Does the table have any empty cells?
True

In [47]:
## Remove the empty cells
partner_edit.dropna(inplace=True)

In [48]:
print "Does the table have any empty cells? \n", partner_edit.isnull().values.any()

Does the table have any empty cells?
False

In [49]:
## Convert the year column to integers to match k13
partner_edit.year = partner_edit.year.astype('int32')

In [50]:
partner_edit.head(3)

         lon      lat  year resistance_type
131  102.668  12.9093  2009         partner
132  102.668  12.9093  2013         partner
133  102.668  12.9093  2013         partner

In [51]:
print "There are", len(partner_edit), "rows"

There are 156 rows

In [52]:
## Join k13_edit and partner_edit together 
malaria_concat = pd.concat([k13_edit, partner_edit])

In [53]:
print "There are", len(malaria_concat), "rows"

There are 236 rows

In [54]:
## Sort the rows by ascending year
malaria_concat.sort_values(by=["year"], inplace=True)
malaria_concat.head()

            lon       lat  year resistance_type
300  102.607780  12.85811  2002             k13
332  103.202003  13.10280  2002             k13
301  102.607780  12.85811  2002             k13
305  102.607780  12.85811  2004             k13
306  102.607780  12.85811  2004             k13

In [55]:
# Reset the index to start at 0
malaria_concat.reset_index(drop=True, inplace=True)
malaria_concat.head()

          lon       lat  year resistance_type
0  102.607780  12.85811  2002             k13
1  103.202003  13.10280  2002             k13
2  102.607780  12.85811  2002             k13
3  102.607780  12.85811  2004             k13
4  102.607780  12.85811  2004             k13

## Remove any duplicate rows

Where all the columns excactly match

In [56]:
malaria_concat.drop_duplicates(inplace=True)

In [57]:
malaria_concat.head()

          lon       lat  year resistance_type
0  102.607780  12.85811  2002             k13
1  103.202003  13.10280  2002             k13
3  102.607780  12.85811  2004             k13
5   98.626700  19.71390  2004         partner
7   98.474700  15.26560  2005         partner

In [170]:
print "There are now", len(malaria_concat), "rows"

There are now 110 rows

## Export a CSV of each year before bracketing

In [58]:
malaria_concat.to_csv("data/malaria_by_year.csv", index=False)

## Split the table into year brackets

2001-2005, 2006-2010, 2011-2015 and 2016-2017

In [183]:
bins = [2000, 2005, 2010, 2015, 2020]
names = ["2001-2005", "2006-2010", "2011-2015", "2016-2017"]
malaria_concat["year_bracket"] = pd.cut(malaria_concat.year, bins, labels=names)

In [187]:
malaria_concat.head(10)

           lon       lat  year resistance_type year_bracket
0   102.607780  12.85811  2002             k13    2001-2005
1   103.202003  13.10280  2002             k13    2001-2005
3   102.607780  12.85811  2004             k13    2001-2005
5    98.626700  19.71390  2004         partner    2001-2005
7    98.474700  15.26560  2005         partner    2001-2005
8   102.607780  12.85811  2006             k13    2006-2010
10   98.626700  19.71390  2006         partner    2006-2010
12   99.532799  14.02280  2007             k13    2006-2010
13  100.852000  14.48460  2007         partner    2006-2010
14   98.608498   9.95287  2007             k13    2006-2010

In [193]:
malaria_concat["test"] = malaria_concat.apply(lambda x: (str(x.lon) + " "+ str(x.lat) + " " + x.resistance_type + " " + x.year_bracket), axis=1)

In [194]:
malaria_concat.head()

,lon,lat,year,resistance_type,year_bracket,test
0,102.607780,12.85811,2002,k13,2001-2005,102.607780457 12.8581104279 k13 2001-2005
1,103.202003,13.10280,2002,k13,2001-2005,103.202003479 13.1028003693 k13 2001-2005
3,102.607780,12.85811,2004,k13,2001-2005,102.607780457 12.8581104279 k13 2001-2005
5,98.626700,19.71390,2004,partner,2001-2005,98.6267 19.7139 partner 2001-2005
7,98.474700,15.26560,2005,partner,2001-2005,98.4747 15.2656 partner 2001-2005

## Remove duplicates where position, resistance type and year bracket match

In [195]:
print "There are", len(malaria_concat), "rows"

There are 110 rows

In [200]:
malaria_concat.drop_duplicates(subset=["test"], inplace=True)

In [201]:
print "There are now", len(malaria_concat), "rows"

There are now 82 rows

In [202]:
## Remove the test column
malaria_concat.drop(["test"], axis=1, inplace=True)

In [203]:
malaria_concat.head()

          lon       lat  year resistance_type year_bracket
0  102.607780  12.85811  2002             k13    2001-2005
1  103.202003  13.10280  2002             k13    2001-2005
5   98.626700  19.71390  2004         partner    2001-2005
7   98.474700  15.26560  2005         partner    2001-2005
8  102.607780  12.85811  2006             k13    2006-2010

## Export to CSV

In [204]:
malaria_concat.to_csv("data/malaria_concat.csv", index=False)