## Import pandas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
world = pd.read_csv("world/malaria-death-rates.csv")

In [15]:
world.head()

,Entity,Code,Year,"Deaths - Malaria - Sex: Both - Age: Age-standardized (Rate) (per 100,000 people)"
0,Afghanistan,AFG,1990,6.802930
1,Afghanistan,AFG,1991,6.973494
2,Afghanistan,AFG,1992,6.989882
3,Afghanistan,AFG,1993,7.088983
4,Afghanistan,AFG,1994,7.392472

In [18]:
world.rename(
    columns={"Deaths - Malaria - Sex: Both - Age: Age-standardized (Rate) (per 100,000 people)":"Deaths"},
    inplace=True
)

In [19]:
world.head()

        Entity Code  Year    Deaths
0  Afghanistan  AFG  1990  6.802930
1  Afghanistan  AFG  1991  6.973494
2  Afghanistan  AFG  1992  6.989882
3  Afghanistan  AFG  1993  7.088983
4  Afghanistan  AFG  1994  7.392472

In [95]:
len(world)

6156

In [97]:
## Drop the rows that have no value for Code as these are regions, 
## such as 'Eastern Sub-Saharan Africa' rather than countries

world.dropna(subset=["Code"], inplace=True)

In [98]:
len(world)

5292

In [99]:
world_pivot = world.pivot(index="Code", columns="Year", values="Deaths").reset_index()

In [100]:
world_pivot.head()

Year,Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,AFG,6.802930,6.973494,6.989882,7.088983,7.392472,7.405511,7.626773,7.592172,7.796014,...,8.266378,8.077900,7.817882,7.271249,6.826629,6.611425,7.144628,7.137835,7.192283,7.139429
1,AGO,18.691207,19.143211,19.323137,20.144111,21.058790,22.047514,22.810312,24.178357,27.507236,...,48.670414,42.326105,35.912245,31.917778,28.634204,27.546573,28.686822,28.347497,28.380121,27.148632
2,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,AND,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,ARE,0.026188,0.026522,0.026914,0.027378,0.027790,0.028186,0.028247,0.028223,0.028186,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [101]:
len(world_pivot)

196

## Export to CSV

In [103]:
world_pivot.to_csv("world/malaria-death-rates-by-year.csv", index=False)